%h1
  Edit Profile

= form_for([@profile], html: { class: "form-horizontal" }) do |f|
  %fieldset
    .controlgroup
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name
    .controlgroup
      = f.label :username, class: 'control-label'
      .controls
        = f.text_field :username
    .controlgroup
      = f.label :password, class: 'control-label'
      .controls
        = f.password_field :password
        = f.password_field :password_confirmation
    .controlgroup
      .controls
        = f.submit
