<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :charid %>
      <div class="input">
        <%= f.number_field :charid %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :pe_skill %>
      <div class="input">
        <%= f.number_field :pe_skill %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :industry_skill %>
      <div class="input">
        <%= f.number_field :industry_skill %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit :class => "btn primary" %>
    </div>

  </fieldset>

<% end %>
